<div class="row justify-content-center">
    <div class="col-4">
        <img class="rounded" src="{{profileUser.avatar}}" alt="user avatar" width="150">
        <p><strong>Name:</strong> {{profileUser.name}}</p>
        <p><strong>Email:</strong> {{profileUser.email}}</p>
        <p><strong>Username:</strong> {{profileUser.username}}</p>
        <p><strong>Bio:</strong> {{profileUser.bio}}</p>
    </div>
    <div class="col-8">
        <h3 class="mb-3">{{profileUser.username}}'s Projects</h3>
        <div class="row">
            {{#each projects as |p|}}
            <div class="card w-100 mb-3 mr-2 col-5 p-0">
                <div class="card-body p-0">
                    <a href="/projects/{{p._id}}">
                        <img class="rounded-sm w-100 m-0" src="{{p.image}}" />
                    </a>
                    <h4 class="card-text">
                        {{p.name}}
                    </h4>
                    <div class="text-muted">
                        <a class="btn btn-sm btn-outline-secondary col-2" href="/projects/{{p._id}}#comments">
                            <i class="fa fa-comments"></i>
                            {{p.comments.length}}
                        </a>
                        <span>
                            <button class="btn btn-sm btn-outline-danger col-2" id="{{p._id}}" onclick="like(event)">
                                <i class="fa fa-heart"></i>
                                <span class="likes-count">{{p.likes}}</span>
                            </button>
                        </span>
                        <p class="card-subtitle text-right">Created: {{date p.createdAt}}</p>
                    </div>
                </div>
                {{#ifEquals p.author._id ../currentUser._id }}    
                <a href="/projects/{{p._id}}/edit" class="btn btn-secondary">
                <i class="fa fa-pencil"></i>
                </a>            
                <a href="/projects/{{p._id}}/delete" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
                {{/ifEquals}}
            </div>
            {{/each}}
        </div>
    </div>
</div>